body {
    padding-bottom: 100px;
}

main>.container {
    padding: 25px 15px 0;
}

main {
    min-height: 80vh;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

.container {
    width: auto;
    max-width: 800px;
    padding: 0 15px;
}